* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1366px;
  height: 768px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
}

.conteiner {
  width: 1028px;
  margin-left: auto;
  margin-right: auto;
}

.header-conteiner {
  display: flex;
  height: 61px;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 22px;
}

.header-logo-link {
  display: inline-block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  transition: color, 500ms ease;
}

.header-logo-link:hover {
  background-image: url(../images/logo-hover.png);
  background-repeat: no-repeat;
  color: #F26522;
}

.header-logo-link-milan {
  padding-left: 62px;
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.header-logo-link-holidays {
  padding-left: 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-link-info-mail {
  display: block;
  text-align: end;
  margin-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition: color, 500ms ease;
}

.header-link-info-mail:hover {
  color: #F26522;
}

.header-link-info-phone {
  display: block;
  text-align: end;
  margin-top: 9px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition: color, 500ms ease;
}

.header-link-info-phone:hover {
  color: #F26522;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 37px 61px;
  margin-bottom: 49px;
}

.main-section-image-link {
  display: block;
  margin-bottom: 20px;
}

.main-section-item {
  position: relative;
}

.main-section-subject {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
  transition: color, 500ms ease;
}

.copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fff;
}


.main-section-image-details {
  background-color: #F26522;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 42px;
  transition: height, 500ms ease-out;
}

.detail-subject {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  margin-left: 16px;
  padding-top: 7px;
  opacity: 0;
}

.detail-cost {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-left: 16px;
  margin-top: 8px;
  width: 50%;
  opacity: 0;

}

.detail-view {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  margin-left: 16px;
  position: relative;
  opacity: 0;

}

.detail-view::after {
  content: "";
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 16px;
  opacity: 0;
}

.main-section-item:hover .main-section-image-details {
  height: 55px;
}

.main-section-item:hover .main-section-subject {
  color: #F26522;
}

.main-section-item:hover .detail-subject {
  opacity: 1;
  transition: opacity, 500ms ease 200ms;
}

.main-section-item:hover .detail-cost {
  opacity: 1;
  transition: opacity, 500ms ease 200ms;
}

.main-section-item:hover .detail-view {
  opacity: 1;
  transition: opacity, 500ms ease 200ms;
}

.main-section-item:hover .detail-view::after {
  opacity: 1;
  transition: opacity, 500ms ease 200ms;
}
